POSTGRES_DB=xingjing
POSTGRES_USER=xingjing
POSTGRES_PASSWORD=xingjing-local
RABBITMQ_DEFAULT_USER=xingjing
RABBITMQ_DEFAULT_PASS=xingjing-local
MINIO_ROOT_USER=xingjing
MINIO_ROOT_PASSWORD=xingjing-local-secret
